@import url();

body{
    background: #fffcef;
    font-family: Montserrat medium 600, serif;
}

.navbar {
    background-color:rgb(143, 29, 44);
    padding-left: 0; 
    padding-right: 0;
    margin-top: 0;
}

.container-fluid {
    
    margin-top: 0;
  }

.navbar-collapse{
    display: flex; 
    align-items: center;
}

.nav-link{
    color: #fffcef;
}
.navbar-nav .nav-link .active{
    color: rgb(196, 194, 194);
}
.navbar-brand img{
    width: 150px;
    margin: 0;
    padding: 0;
}

.navbar-toggler {
    color: #fffcef;
}
.navbar-toggler-icon{
    color: #fffcef;
}

.nav-icons {
    list-style: none; 
    padding: 0; 
    margin: 0;
    display: flex; 
    align-items: center;
    gap: 10px; 
    margin-left: auto;
    margin-right: 0;
}
.nav-icons a {
    text-decoration: none; 
}
.nav-icons img {
    width: 30px;
    display: block; 
}



.card{
    background-color: #fffcef;
}
.card .btn {
    color: #313131;
}
.card a{
    text-decoration: none;
    color: #313131;
}



footer{
    background-color:rgb(143, 29, 44);
}
.footer-text{
    color: #fffcef;
    margin: auto auto;
}
.media-links{ 

    justify-content: center;
    align-items: center;
}

h1{
    color: red;
    text-align: center;
}
h2{
    text-align: center;
    color: #313131;
}
.txt{
    color: rgb(143, 29, 44)
}

